<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>controllers.Configurator</listener-class>
    </listener>
    <servlet>
        <servlet-name>SubmissionHandler</servlet-name>
        <servlet-class>controllers.SubmissionHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Navigator</servlet-name>
        <servlet-class>controllers.Navigator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginManager</servlet-name>
        <servlet-class>controllers.LoginManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SceneUpload</servlet-name>
        <servlet-class>controllers.SceneUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestcaseProcessor</servlet-name>
        <servlet-class>controllers.TestcaseProcessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubmissionHandler</servlet-name>
        <url-pattern>/SubmissionHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Navigator</servlet-name>
        <url-pattern>/Navigator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginManager</servlet-name>
        <url-pattern>/LoginManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SceneUpload</servlet-name>
        <url-pattern>/SceneUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestcaseProcessor</servlet-name>
        <url-pattern>/TestcaseProcessor</url-pattern>
    </servlet-mapping>        
    <servlet-mapping>
        <servlet-name>Navigator</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            <!--JDBC-->
            jsp/login.jsp
        </welcome-file>
    </welcome-file-list>
    <context-param>
        <description>Scene upload folder</description>
        <param-name>scene_upload_folder</param-name>
        <param-value>/scenes</param-value>
    </context-param>        
</web-app>
